<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mo.singou.vehicle.ai.communicate" >
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <application>
        <meta-data android:name="ssid" android:value="singouROB"/>
        <meta-data android:name="pwd" android:value="singouMacau"/>
    </application>
</manifest>
